# metafile
.DS_Store

# personal log
DerivedData/

# project configfile
!*.xcodeproj/project.pbxproj

#project workspaceData
!*.xcworkspace/contents.xcworkspacedata

UserInterfaceState.xcuserstate

# personal files
*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
!*.plist
.dat.*

#cocoaPods
Pods/*

# carthage
Carthage/*