# exclude files
--exclude Pods, Carthage, *.json

# format option
#--allman false
#--binarygrouping none
#--closingparen balanced
#--commas inline
#--conflictmarkers reject
#--decimalgrouping none
#--elseposition same-line
#--empty void
#--exponentcase lowercase
#--exponentgrouping disabled
#--fractiongrouping disabled
#--fragment false
#--header ignore
#--hexgrouping none
#--hexliteralcase uppercase
--ifdef noindent
#--importgrouping alphabetized
--indent 2
#--indentcase false
#--linebreaks lf
#--octalgrouping none
#--operatorfunc spaced
--patternlet inline
--ranges space
#--self remove
#--selfrequired 
#--semicolons inline
--stripunusedargs closure-only
#--trailingclosures 
--trimwhitespace always
--wraparguments preserve
--wrapcollections preserve

# exclude option
--disable blankLinesAroundMark
--disable consecutiveBlankLines
--disable hoistPatternLet
--disable numberFormatting
--disable redundantSelf
--disable redundantRawValues
--disable sortedImports
--disable spaceAroundComments
--disable spaceInsideComments
--disable strongOutlets
--disable trailingCommas
--disable typeSugar

# 後ほど順次enableにしようとしているオプション(一気に適用するとレビュー範囲が大きくなるため順次)
--disable blankLinesAtStartOfScope
--disable consecutiveSpaces
--disable linebreakAtEndOfFile
--disable linebreaks
--disable ranges
--disable redundantParens
--disable spaceAroundBraces
--disable spaceAroundOperators
--disable spaceAroundParens
--disable spaceInsideBraces
--disable spaceInsideBrackets
--disable strongifiedSelf
--disable trailingClosures
--disable unusedArguments
--disable wrapArguments
--disable yodaConditions